.container {
  align-items: center;
  border-bottom: 1px solid #ccd4e1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 3%;
  padding: 30px 0;
  width: 97%;
}

.track__name, .fav__input {
  align-items: center;
  color: #001813;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  width: 15%;
}
